.btn,
.btn:hover {
	color: white;
	text-shadow: none;
}

.btn {
	background-image: none;
  background-image: none;
  background-color: royalblue;
	border: none;
}

.btn:hover {
	background-color: hotpink;
}

/*progress meter*/

.playerProgressMeter,
.currentProgress {
	height: 11px;
}

.playerProgressMeter {
	background-color: lightyellow;
}

.currentProgress {
	background-color: royalblue;
	border-radius: 30px;
}

.thumbBar {
	background-color: white;
	border: solid 2px hotpink;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	position: absolute;
	top: -1000px;
	left: -1000px;
}

.videoOptions {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
}

.videoOptions h2 {
	font-size: 1.4em;
}

/*animations*/

.ng-hide-remove {
	-webkit-animation: fadeIn 0.50s;
	animation: fadeIn 0.50s;
}

.ng-hide-add {
	-webkit-animation: fadeOut 0.50s;
	animation: fadeOut 0.50s;
	display: block;
}