<!doctype html>
<html ng-app="videoApp">
  <head>
    <meta charset="utf-8"</meta>
    <title>Angular and Bootstrap App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css">
  </head>
  <body ng-controller="VideoController">
    <div id="fullPlayer" class="ng-cloak" ng-mousemove="mouseMoving($event)" ng-mouseup="dragStop($event)">
      <div class="embed-responsive embed-responsive-16by9">
        <video id="happy-video" ng-src="{{videoSource}}"></video>
        <div id="videoTitle" ng-hide="">{{titleDisplay}}</div>
        <div id="videoOptions" class="panel panel-default videoOptions" ng-show="showOptions">
          <div class="panel-heading">
            <div class="panel-title">{{titleDisplay}}</div>
          </div>
          <div class="panel-body">
            <div class="col-xs-6">
              <h2>Video Description</h2>
              <p>{{videoDescription}}</p>
              <p><em>Duration: {{totalTime | timeFilter}}</em></p>
            </div>
            <div class="col-xs-6">
              <ul class="list-group" ng-model="playlist">
                <li class="list-group-item" ng-repeat="video in playlist" ng-click="videoSelected($index)">{{video.title}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="playerProgressMeter" class="playerProgressMeter" ng-click="videoSeek($event)"> 
        <div id="currentProgress" class="currentProgress" ng-click="videoSeek($event)" style="width:{{fromLeft + 7}}px"></div> 
      </div>
      <div id="thumbBar" class="thumbBar" style="top:{{fromTop}}px; left:{{fromLeft - 1}}px;" ng-mousedown="dragStart($event)"></div>
      <div id="playerToolBar" class="btn-group btn-group-justified">
        <a id="playButton" ng-click="togglePlay()" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></a>
        <a id="muteButton" ng-click="toggleMute()" class="btn btn-default"><span class="glyphicon glyphicon-volume-off"></span></a>
        <span class="btn btn-default">{{currentTime | timeFilter}} / {{totalTime | timeFilter}}</span>
        <a id="detailsButton" ng-click="toggleDetails()" class="btn btn-default"><span class="glyphicon glyphicon-option-horizontal"></span></a>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="js/video-app.js"></script>
    <script src="js/video-controller.js"></script>
    <script src="js/video-info.js"></script>
    <script src="js/video-time-filter.js"></script>
  </body>
</html>